recursive-include django_support_page/handlers *.py
recursive-include django_support_page/templates *.html
recursive-include django_support_page/templates/django_support_page/emails *.html
recursive-include django_support_page/templates/django_support_page/emails *.txt
recursive-include django_support_page/static *.js
